#container {
    width: 350px;
    height: 300px;
    margin: 100px;
}

#playerX,
#playerO {
    font-size: 100px;
}

.cell {
    width: 100px;
    height: 100px;
    float: left;
    border: 5px solid rgb(218, 43, 43);
    cursor: pointer;
    font-size: 100px;
    text-align: center;
}